.form_Control {
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
}

.label {
    margin-bottom: .6em;
    font-weight: bold;
}


.form_Control select{
    padding: .7em;
    border-radius: 0;
    border: none;
}

