.project_card {
    padding: 1em;
    border: 1px solid #7a7a7a;
    border-radius: 5px;
    width: 24%;
    margin: 0.5%;
    min-width: 230px;
}



.project_card h4 {
    background-color: #222;
    color: #FFBB33;
    padding: 0.4em;
    margin-bottom: 1.3em;
    font-size: 1.3em;
    border-radius: 5px;
}

.project_card p {
    color: #7a7a7a;
    margin-bottom: 1em;

}

.project_card p span {
    font-weight: bold;
}

.project_card .category_text{
    display: flex;
    align-items: center;
}

.project_card .category_text span {
    display: block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color:#ccc;
    margin-right: 5px;
}

.category_text.infra span {
    background-color:#FFAEBC;
}

.category_text.desenvolvimento span{
    background-color:#A0E7E5;
}

.category_text.design span{
    background-color:#B4F8C8;
}

.category_text.planejamento span{
    background-color:#FBE7C6;
}

.category_text.front-end span{
    background-color:#598d77;
}

.category_text.back-end span{
    background-color:#4e2e4e;
}

.project_card_actions {
    margin-top: 1.2em;
    display: flex;
    align-items: center;
}

.project_card_actions  a, 
.project_card_actions button{
    text-decoration: none;
    background-color: #FFF;
    color: #222;
    font-size: 0.9em;
    padding: 0.6em 1em;
    cursor: pointer;
    margin-right: 1em;
    border:1px solid #222;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.212);
    border-radius: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s;
}

.project_card_actions svg {
    margin-right: 0.5em;
}

.project_card_actions  a:hover,
.project_card_actions button:hover {
    background-color: #222;
    color: #FFBB33;
}