.container {
    max-width: 1200px;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    flex-wrap: wrap;
}

.min-height {
    min-height: 85vh;
}

.flex_center {
    justify-content: center;
}

.start {
    justify-content: flex-start;
}

.column {
    flex-direction: column;
    justify-content: flex-start;
}

.with_cem {
    width: 100%;
}